* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .navbar {
  display: inline-block;
  margin-left: 600px;
  margin-top: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  background-color: rgb(34, 34, 34);
  position: absolute;
  margin-left: -170px;
  gap: 20px;
  padding-bottom: 35px;
  padding-top: 10px;
  box-shadow: 0px 2px 0px #c4c3c3;
  padding-right: 100px;
  position: fixed;
}

.header .logo {
  flex: 1;
  color: green;
  margin-top: 10px;
  font-size: 20px;
}

.header .navbar a {
  margin-right: 50px;
  font-size: 20px;
  color: #fff;
}

.header .navbar a:hover {
  color: rgba(255, 255, 255, 0.75);
}
.buttonActive button {
  margin: 0;
  width: 45px;
}

.adminHeader {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color: rgb(34, 34, 34);
  margin-top: 20px;
  margin-left: 20px;
}

.headerColumn {
  margin-left: 0px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: space-between;
  background-color: #f1f1f1;
  width: 150px;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

/* thông tin user */

.formUser {
  margin-top: 0100px;

  width: 600px;
  height: 50px;
  padding-bottom: 280px;
  padding-top: 10px;
  margin-left: -0px;
  margin-bottom: 30px;
}

#containerSideBar {
  background-color: red;
  font-size: 25px !important;
}

input {
  margin-left: 95px;
  width: 400px;
}

.formUser label {
  padding-left: -400px !important;
}

.formUser .contentFormUser {
  margin-left: 195px;
}

#nameSearch {
  width: 644px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formUser button {
  margin-left: 230px;
  width: 135px;
  height: 40px;
  border-radius: 4px;
  background-color: #4caf50;
  border: none;
}

.searchTableUser button {
  width: 136px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4caf50;
  margin-top: 20px;
  margin-left: 200px;
  color: #fff;
}
/* thông tin user */

.tableUser {
  width: 800px;
  margin-left: 333px;
  margin-top: 110px;
}

.buttonActive {
  display: flex;
  gap: 5px;
}

.buttonActive #updateProduct {
  background-color: #3eba42;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttonActive #updateProduct:hover {
  background-color: greenyellow;
}

.buttonActive #deleteProduct:hover {
  background-color: rgba(255, 0, 0, 0.496);
}

.buttonActive #deleteProduct {
  background-color: rgb(255, 0, 0);
  border-radius: 4px;
  border: 1px solid #ccc;
}

.containerAdminControl {
  margin-left: 170px;
  /* background-color: #e9edf0; */
}

.tableUser table {
  background-color: #f1f1f1;
  color: #333;
}

.tableUser th,
.tableUser td {
  background-color: #fff;
  color: #333;
}
.tableUser th,
.tableUser td {
  text-align: center;
  vertical-align: middle;
}
.tableUser table {
  border-collapse: collapse;
}

.tableUser th,
.tableUser td {
  border: 1px solid #ccc;
}
.tableUser th,
.tableUser td {
  font-size: 16px;
  padding: 10px;
}
.formUser {
  background-color: #fff;
  color: #333;
}
.formUser .contentFormUser {
  font-size: 20px;
}
.formUser input,
.formUser label {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.formUser button {
  background-color: #4caf50;
  color: #fff;
}

.formUser {
  margin-left: 400px;
  margin-bottom: -300px;
}
.container {
  display: flex;
  justify-content: center;
}

.tableUser .searchTableUser label {
  margin-left: 0px;
}

.tableUser .searchTableUser input {
  margin-top: 0px;
  margin-left: 0px;
  width: 396px;
}

.tableUser .searchTableUser button {
  margin-top: 0px;
  margin-left: 0px;
}

.formUser input {
  padding-left: 10px;
  height: 50px;
}

.tableUser table {
  text-align: center;
}
